* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: hidden;
}

.home {
  background-color: blue;
}


.slider {
	font-family: 'Grenze';
	scroll-snap-type: x mandatory;
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
section {
	border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}

p	{
	padding-left: 4rem;
	padding-right: 4rem;
	text-align: left;
	color: black;
	font-size: 16px;
}

h1	{
	top: 5%;
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 2vw);
}

h2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}

svg {
  width: 70vh;
  height: 70vh;
	padding-top: 10%;
}
svg:hover {
  fill: red;
}

.photo-p1 {
	padding: 30px;
}


/*navigation*/
.sidebar {
  height: 100%;
	padding-left:3%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 30px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.sidebar a {
	padding: 2%;
	text-decoration: none;
	color: #d3d3d3;
	font-family: 'Grenze';
	font-weight: 100;
	font-size: 15px;
}

.sidebar a:hover {
  color: black;
	font-family: 'Grenze';
	font-weight: 900;
}


@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 16px;
  }
}
