* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: hidden;
}

section {
	padding: 5%;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}

p	{
	padding:5%;
	text-align: left;
	color: black;
	font-size: 16px;
}

h1	{
	padding-left: 5vh;
	text-align: left;
	color: black;
	font-size: calc(20px + 2vw);
	position: inherit;
}

h2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}


/*slide images*/
.slidershow{
  width: 100vh;
  height: 70vh;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 1px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

/*HORIZONTAL SCROLLY SCROLL*/
.home {
  background-color: blue;
}

.slider {
	font-family: 'Grenze';
	scroll-snap-type: x mandatory;
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

/*contact-svg*/
svg {
  width: 45%;
  height: 45%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
svg:hover {
  fill: red;
}

/*project-specific*/

.project-2 {
	background-color: #FFE3B8;
}

.project-3 {
	background-color: #E88346;
}

.project-4 {
}

.project-5 {
}

.contact {
	background-color: #171a22;
}

/*vertical navigation*/
.sidebar {
  height: 100%;
	padding-left:3%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 30px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.sidebar a {
	padding: 2%;
	text-decoration: none;
	color: #d3d3d3;
	font-family: 'Grenze';
	font-weight: 100;
	font-size: 15px;
}

.sidebar a:hover {
  color: black;
	font-family: 'Grenze';
	font-weight: 900;
}


@media only screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 16px;
  }
}

/*mobile-test
@media only screen and (max-width:1024px){
	.para1 {
	margin=left: 320px;
	}
	.lamp {
	margin-top:-610px;
}

}

test*/
